---
layout: layout.njk
title: Post Layout
---

<main class="single-post">
  <h1>{{title}}</h1>
  <p class="summary-tag">Summary</p>
  <p>{{intro.summary}}</p>
  <img class="blog-image" src={{intro.image}} aria-label="Blog post image" alt={{intro.alt}} />
  {{ content | safe }}
</main>