---
layout: layout.njk
title: Project Layout
---

<main class="project-description">
  <div class="project-introduction">
    <h1>{{title}}</h1>
    <ul class="tags">
      {% for item in stack %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
    <p>{{ intro.summary | markdownify | safe }}</p>
    <p class="project-links">
      {% if source %}<a href="{{ source }}" target="_blank">Source Code</a>{% endif %}
      {% if live %}<a href="{{ live }}" target="_blank">Live Site</a>{% endif %}
      {% if company %}<a href="{{ company }}" target="_blank">Company Website</a>{% endif %}
    </p>
  </div>
  <figure>
    <img class="browser" src="/assets/img/browser.svg" alt="" />
    <img class="project-image" src={{intro.image}}  aria-label="Project preview" alt={{intro.alt}} />
  </figure>
  {{ content | safe }}
</main>