---
layout: layout.njk
title: About
---

<main class="interior-page">
  <h1>About me</h1>
  <p>My name is Graham Hagenah, an experienced full-stack web developer intent on creating intuitive digital experiences for everyone, regardless of ability or circumstance. I was born and raised in the Berkshires and earned a Bachelor of Science in Multimedia Informatics from the University of Massachusetts, Amherst in 2018. 
    The degree combined aspects of Computer Science, Studio Arts, and Marketing, laying the groundwork for a career at the intersection of art and technology.</p><img class="content-img" src="/assets/img/about.jpg" width="1800" height="1194" px alt="Photo of Graham at the Getty in Los Angeles" />
  <h2>Work Experience</h2>
  <p>My most recent role involved building websites and applications for <a href="/projects/predictive-index/">The Predictive Index</a>, a Westwood-based tech company creating personality and cognitive evaluations for the workplace.</p>
  <p>Before that, I worked at the Concord-based web agency, <a href="/projects/bartlett/">Bartlett Interactive</a> - first as a summer intern, then transitioning into a full-time role building websites for local nonprofits.</p>
  <p>Throughout the years, I've worked as a freelance web developer. I build websites and applications with static-site generators like <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>, fully-featured Content Management Systems like WordPress, and powerful libraries like React. <strong>I'm open to work!</strong>
  <p>I've also worked as a graphic designer for the University of Massachusetts, where I created multimedia visuals for print and web.</p>
  <h2>Education</h2>
  <p>I graduated from the University of Massachusetts, Amherst in 2018 with a degree in Multimedia Informatics - a Bachelor of Science degree combining Computer Science, Art, and Marketing.</p>
  <h2>Beyond Work</h2>
  <p>You'll likely find me climbing at the rock gym, practicing yoga, reading scince fiction, or watching movies with friends. If you have any questions or want to get in touch, <a href="mailto:gwhagenah@gmail.com"> email me.</a></p>
</main>