---
layout: layout.njk
title: Blog
---

<main class="interior-page">
  <h1>Blog Posts</h1>
  <ul id="posts">
    {% for post in collections.blog %}
    <li>
      <a href="{{ post.url }}">
        <img src="{{ post.data.intro.preview }}" alt="" />
        <h2>{{ post.data.title }}</h2>
      </a>
    </li>
    {% endfor %}
  </ul>
</main>