---
layout: layout.njk
title: Graham Hagenah's Portfolio
---

{# Scripts #}
<script src="/bundle.js"></script>

<section id="introduction" class="fade-in-up">
  <p>Hello, I'm Graham.</p>
  <h1 class="slide-in">Full-Stack Developer crafting fast, inclusive web products.</h1>
  <a id="intro-button" role="button" href="/about">
    Read more
    <span class="arrow">›</span>
  </a>
</section>
<section class="mosaic-wrapper">
  <ul>
    <li class="mosaic-item fade-in">
      <figure>
        <img class="browser" src="/assets/img/browser.svg" alt="" />
        <img class="project-image" src="/assets/img/blackjack-preview.jpg">
      </figure>
    </li>
    <li class="mosaic-item fade-in">
      <figure>
        <img class="project-image" src="/assets/img/goods-mobile.webp">
      </figure>
    </li>
    <li class="mosaic-item fade-in">
      <figure>
        <img class="browser" src="/assets/img/browser.svg" alt="" />
        <img class="project-image" src="/assets/img/optima.webp">
      </figure>
    </li>
    <li class="mosaic-item fade-in">
      <figure>
        <img class="browser" src="/assets/img/browser.svg" alt="" />
        <img class="project-image" src="/assets/img/bartlett-preview.webp">
      </figure>
    </li>
  </ul>
</section>
<main>
<h2 class="section-header">Selected Works</h2>
  <ul id="projects">
    {% for post in collections.projects %}
      <li>
        <a href="{{ post.url }}">
          <figure class="project-image-wrapper">
            <img class="project-image" src={{post.data.intro.preview}} aria-label="Post preview" alt={{intro.alt}} />
          </figure>
          <div class="details">
            <h3 class="title">{{ post.data.title }}</h3>
            <p>{{ post.data.subtitle }}</p>
            <p class="read-more">
              {% if post.data.story %}
                Read Story
              {% else %}
                View Project
              {% endif %}
            </p>
            <span class="arrow">›</span>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2 class="section-header">Blog Posts</h2>
  <ul id="posts">
    {% for post in collections.blog %}
      <li>
        <a href="{{ post.url }}">
          <figure class="blog-image-wrapper">
            <img class="blog-image" src={{post.data.intro.preview}} aria-label="Post preview" alt={{intro.alt}} />
          </figure>
          <div class="details">
            <h3 class="title">{{ post.data.title }}</h3>
            <p class="read-more">Read Post</p>
            <span class="arrow">›</span>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</main>
