---
layout: layout.njk
title: Graham Hagenah's Portfolio
---

<h1 class="slide-in">Full-Stack Developer crafting fast, inclusive web products.</h1>
<p id="intro"><strong>Hi, I'm Graham.</strong> I build websites and applications with HTML, CSS, JavaScript, PHP, and front-end libraries like React. My approach is empathetic and collaborative, aiming to create delightful digital experiences for everyone. <a href="/about">Read more about me.</a></p>
<div>
<ul id="projects">
  {% for post in collections.projects %}
    <li>
      <a href="{{ post.url }}">
        <figure class="project-image-wrapper">
          <img class="project-image" src={{post.data.intro.preview}} aria-label="Post preview" alt={{intro.alt}} />
        </figure>
        <div class="details">
          <h2 class="title">{{ post.data.title }}</h3>
          <p>{{ post.data.subtitle }}</p>
          <p class="read-more">
            {% if post.data.story %}
              Read Story
            {% else %}
              View Project
            {% endif %}
          </p>
          <span class="arrow">›</span>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
