---
layout: layout.njk
title: Graham Hagenah's Portfolio
---

<section id="introduction" class="enter-up">
  <p>Hello, I'm Graham.</p>
  <h1 class="slide-in">Full-Stack Developer crafting fast, inclusive web products</h1>
  <a id="intro-button" class="button-outline" role="button" href="/about">
    Read more
    <span class="arrow">›</span>
  </a>
</section>
<section class="mosaic-wrapper" aria-hidden="true">
  <ul>
    <li class="mosaic-item fade-in" style="animation-delay: 0.05s;">
      <figure>
        <img class="browser" src="/assets/img/browser.svg" alt="" />
        <img class="project-image" src="/assets/img/blackjack-preview.jpg" alt="">
      </figure>
    </li>
    <li class="mosaic-item fade-in" style="animation-delay: 0.15s;">
      <figure>
        <img class="browser" src="/assets/img/browser.svg" alt="" />
        <img class="project-image" src="/assets/img/bookshelf.webp" alt="">
      </figure>
    </li>
     <li class="mosaic-item fade-in" style="animation-delay: 0.25s;">
      <figure>
        <img class="project-image-mobile" src="/assets/img/pi-mobile.webp" alt="">
      </figure>
    </li>
    <li class="mosaic-item fade-in dark-browser" style="animation-delay: 0.35s;">
      <figure>
        <img class="browser" src="/assets/img/browser-dark.svg" alt="" />
        <img class="project-image" src="/assets/img/optima.webp" alt="">
      </figure>
    </li>
    <li class="mosaic-item fade-in" style="animation-delay: 0.45s;">
      <figure>
        <img class="browser" src="/assets/img/browser.svg" alt="" />
        <img class="project-image" src="/assets/img/bartlett-preview.webp" alt="">
      </figure>
    </li>
  </ul>
</section>
<main>
<section id="philosophy">
  <h2>What's my role as a developer?</h2>
    <p>
      As a full-stack web developer, I'm responsible for understanding the big picture of any project. I have experience working across every facet of modern web applications, from writing the structure of pages and styling components in the browser to designing APIs and managing databases on remote servers.<br><br>
      Not only do I ensure visually appealing interfaces, high-performance, and easy-to-read code, but I also build accessibility into everything I make.<br><br>
      <a href="mailto:gwhagenah@gmail.com">Contact me</a> to learn more about my process.
   </p>
</section>
<section id="projects">
  <h2 class="section-header">Selected Projects</h2>
  <ul>
    {% for post in collections.projects %}
      <li>
        <a href="{{ post.url }}">
          <figure class="project-image-wrapper">
            <img class="project-image" src={{post.data.intro.preview}} aria-label="Post preview" alt={{intro.alt}} />
          </figure>
          <div class="details">
            <h3 class="title">{{ post.data.title }}</h3>
            <p>{{ post.data.subtitle }}</p>
            <p class="read-more">
              {% if post.data.story %}
                Read Story
              {% else %}
                View Project
              {% endif %}
            </p>
            <span class="arrow">›</span>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
<section id="posts">
  <h2 class="section-header">Blog Posts</h2>
  <ul>
    {% for post in collections.blog %}
      <li>
        <a href="{{ post.url }}">
          <figure class="blog-image-wrapper">
            <img class="blog-image" src={{post.data.intro.preview}} aria-label="Post preview" alt={{intro.alt}} />
          </figure>
          <div class="details">
            <h3 class="title">{{ post.data.title }}</h3>
            <p class="read-more">Read Post</p>
            <span class="arrow">›</span>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</main>
